<% provide(:title, "About") %>
    <h1>About us!</h1>
    <p>
      We are team of enthusiastic individuals who are leveraging tecnology to solve the caregiver shortage problem visit us at <a href="http://www.nurselinked.com"> here </a>.
      and <a href="http://www.nurselinked.com"><em>Be Awesome</em>
        YOLO! </a>.
    </p>
