<% provide(:title, "Help") %>
    <h1>Need Help?</h1>
    <p>
      Get help by calling us at 777-777-1771 and visit us at <a href="http://www.nurselinked.com"> here </a>.
      and <a href="http://www.nurselinked.com"><em>Be Awesome</em>
        new </a>.
    </p>
