<% provide(:title, "Home") %>
    <h1>Welcome to Sample App</h1>
    <p>
      This is the home page <a href="http://www.nurselinked.com"> where nurses can find relavant information regarding Open shifts around them</a>
    Click to see more.
    </p>
