<footer class="footer">
  <small>
    The <a href="http://nurselinked.com">All rights reserved</a>
    to <a href="http://nurselinked.com">GPMEC LLC @2018</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://nurselinked.com">News</a></li>
    </ul>
  </nav>
</footer>
